*{
    margin: 0;
}
.m{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    /* background-color: rgb(4, 6, 6); */
}
.m2{
    display: flex;
    gap: 30px;
}
.m4{
    width: 350px;
    height: 280px;
    line-height: 30px;
    /* background-color: #35AFbF; */
    /* text-align: ; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 140px;
    margin-left: 100px;
}
.m3 span{
    color: #35AFbF;
}
.m3 p{
    text-align: center;
    padding-top: 20px;
   
}
.m3 button{
    width: 140px;
    height: 50px;
    background-color: #35AFbF;
    color: aliceblue;
    text-align: center;
    border-radius: 15px;
    border: none;
    margin-top: 50px;
    
}
.m5{
    width: 600px;
    height: 500px;
    background-color: ;
    margin-left: 100px;
    margin-top: 80px;
}
.l1{
    margin-left: 120px;
}
.l6{
    width: 600px;
    position: absolute;
    top: 100px;
    right: 280px;

}
.l1{
    width: 480px;
    height: 400px;
}
.m3{
    display: flex;
    gap: 50px;
}
.l2{
    position: absolute;
    left: 1;
}
.l3{
    position: absolute;
    /* top: 700px; */
    bottom: 560px;
    right: 800px;
}
.l4{
    position: absolute;
    top: 500px;
}
.l5{
    position: absolute;
    left: 640px;
    top: 500px;
    /* bottom: 900px; */
}
.m7{
    width: 280px;
    height: 320px;
    /* background-color: #A3E0E8; */
    display: flex;
    flex-direction: column;
    /* row-gap: 5px ; */
    text-align: center;
}

.m6{
    width: 280px;
    height: 300px;
    background-color: #A3E0E8;
    display: flex;
    flex-direction: column;
    /* row-gap: 5px ; */
    text-align: center;
}
.m8{
    width: 1451px;
    height: 600px;
    background-image: url(Background\ \(8\).png);
    background-size: cover;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.m0{
    width: 1451px;
    height: 550px;
    background-color: #2C353E;
    color: white;
    margin: auto;
}
.m9{
    
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;

}
.ml1{
    width: 208px;
    height: 256px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* padding-top: 100px; */
}
.ml1 button{
    width: 150px;
    height: 40px;
    background-color: #2C353E;
    border: 1px solid grey;
    color: white;
    border-radius: 10px;

}



