*{
    margin: 0;
}
.m{
    width: 98%;
    height: 60px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.l1{
    display: flex;
    gap: 30px;
}
.m button{
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}
.l2{
    width: 387px;
    height: 332px;
    /* background-color: aqua; */
    line-height: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 100px;
}
.l2 h4{
    width: 120px;
    height: 35px;
    text-align: center;
    background-color: black;
    color: white;
    /* padding-left: 20px; */
}
.m1{
    display: flex;
    gap: 150px;
    margin-top: 150px;
    margin-left: 200px;
}
.l4{
    width: 550px;
    height: 366px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    line-height: 30px;
    margin-top: 100px;

}
.l4 h4{
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;
    /* margin-top: 100px; */

}
.m2{
    display: flex;
    gap: 100px;
    margin-top: 250px;
    margin-left: 200px;
}
.l5{
    width: 500px;
    height: 384px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    line-height: 30px;
    
}
.m3{
    display: flex;
    gap: 210px;
    margin-left: 200px;
    margin-top: 200px;
}
.l5 p{
    font-size: 20px;
}
.l5 h1{
    font-size: 45px;
}
.l6{
    width: 407px;
    height: 280px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
    line-height: 25px;
    margin-top: 100px;
}
.lk1{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.l8{
    width: 508px;
    height: 70px;
    display: flex;
    gap: 200px;
    /* text-align: center; */
    box-shadow: 0px 0px 4px  black;
    padding-top: 20px;
}
.mlk1{
    width: 508px;
    height: 170px;
    /* display: flex; */
    gap: 20px;
    /* text-align: center; */
    box-shadow: 0px 0px 4px  black;
}
.m9{
    width: 1440px;
    height: 450px;
    background-color: #0B265A;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 80px;
}
.kli{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: white;
    margin-top: 160px;
}