*{
    margin: 0;
    font-family: sans-serif;
}
.m{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 30px;
}
.k{
    display: none;
}
.m button{
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #608AF5;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    /* padding-left: 30px; */
}
.m1{
    width: 398px;
    height: 200px;
    border: 1p solid green;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-left: 100px;
}


.m1 .h1{
    font-size: 40px;
}
.m1 .p{
    font-size: 20px;
}
.k1{
    width: 401px;
    height: 300px;
    margin-right: 100px;
}
.g{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}
.mj{
    width: 307px;
    height: 280px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 0px 0px 5px black
    

}
.mkj{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    border-radius: 10px;
}
.you{
    width: 240px;
    height: 236px;
    text-align: center;
    /* border: 1px solid grey; */
}
.df{
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
}
.kf{
    width: 98%;
    height: 400px;
    margin: auto;
    background-color: #608AF5;
    color: white;
    text-align: center;
    font-size: 30px
    
    
}
@media (max-width: 510px) {
    .m{
        display: none;
    }
    .k{
        display: block;
    }
    .g{
        flex-direction: column-reverse;
        gap: 300px;
    }
    .ki{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        /* gap: 20px; */
        margin-left: 50px;
    }
    .mj{
        margin-top: 30px;
    }
    .mkj{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    .df{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .kf{
        font-size: 17px;
    }
    
}
