.m1
{
    display: flex;
}

.m3{
    width: 100px;
    height: 100px;
    position: static;
    top: 100px;
    left: 50px;
    background-color: aqua;
}
.m4{
    width: 100px;
    height: 100px;
    background-color: black;
}
.m5{
    width: 100px;
    height: 100px;
    background-color:green;
}